:root {
  --color-primary: #4b2feb;
  --color-secondary: #20EB17;
  --color-primary-dark: #25109E;
  --color-secondary-dark: #1D9E18;
  --color-accent: #EB8B46;
}

body {
  background: linear-gradient(rgba(75, 47, 235, 0.8), rgba(75, 47, 235, 0.8)), url("assets/bg.jpeg");
  background-size: fill;
  color: white;
  text-align: center;
}

.card-container {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100vw;
}

h1 {
  font-size: 28pt;
  padding-top: 20px;
  padding-bottom: 20px;
}

h2 {
  font-size: 18pt;
  padding-bottom: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px var(--color-primary-dark);
  margin: 25px 10px;
  padding: 1px;
  padding-top: 15px;
}

.card-app {
  width: 400px;
  background-color: white;
  color: black;
}

.card-info {
  background-color: var(--color-secondary-dark);
  color: white;
  flex-basis: 400px;
  flex-shrink: 1;
  flex-grow: 1;
  max-width: 600px;
}
.card-info ol {
  padding: 0 10px;
  list-style-position: inside;
  text-align: left;
}
li {
  margin: 0;
  padding: 0;
}
.card-info a {
  color: var(--color-primary-dark);
}

.btn {
  border-radius: 7px;
  margin: 2px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-primary-dark);
}