* {
    box-sizing: border-box;
}

.form-row {
    text-align: left;
    margin: 15px 2%;
}
  
.form-row label {
    width: 100%;
}

.text-input {
    width: 98%;
    height: 25px;
}

.btn-row {
    text-align: center;
}

.cb-row {
    display: flex;
    justify-content: left;
    align-items: center;
}

.cb-row label {
    width: fit-content;
}

.cb-row input {
    margin-left: 10px;
}
  