:root {
  --color-primary: #4B2FEB;
  --color-secondary: #20EB17;
  --color-primary-dark: #25109E;
  --color-secondary-dark: #1D9E18;
  --color-accent: #EB8B46;
}

body {
  background-color: var(--color-primary);
  color: white;
  text-align: center;
}

h2 {
  font-size: 10pt;
}

.card {
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px var(--color-primary-dark);
  width: 80%;
  max-width: 400px;
  margin: 25px auto;
  padding: 1px;
}

.btn {
  border-radius: 7px;
  margin: 2px;
}
.btn-primary, .btn-primary:hover, .btn-primary:focus {
  background-color: var(--color-secondary-dark);
  border-color: var(--color-primary-dark);
}